* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
.cardComponent {
  width: 400px;
  height: 600px;
  margin: auto;
  background-color: rgb(219, 212, 219);
}
.top {
  display: flex;
  padding: 15px;
}
.bottom {
  display: flex;
  padding: 15px;
}
h3 {
  color: rgb(49, 47, 53);
}
